// @use '../../../../theme.scss' as theme;

table {
  border-collapse: collapse;
  border-radius: 5px;
  // 边框
  border: 1px solid gray;
  border-spacing: 0;
}

table td {
  padding: 8px;
  border-bottom: 1px solid gray;
}

table th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}
