<mat-toolbar class="d-flex gap-1">
  <!-- <mat-icon class="clickable" matTooltip="返回" (click)="back()">arrow_back</mat-icon> -->
  <span>{{i18nKeys.common.save | translate}}</span>
</mat-toolbar>
@if (!isLoading()) {
  <form class="d-flex p-2" [formGroup]="formGroup">
    <div class="d-flex flex-column w-100">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>{{i18nKeys.systemRole.name | translate}}</mat-label>
        <input matInput formControlName="name" placeholder="" />
        @if (formGroup.get('name')?.invalid) {
          <mat-error>
            {{getValidatorMessage('name')}}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>{{i18nKeys.systemRole.nameValue | translate}}</mat-label>
        <input matInput formControlName="nameValue" placeholder="" />
        @if (formGroup.get('nameValue')?.invalid) {
          <mat-error>
            {{getValidatorMessage('nameValue')}}
          </mat-error>
        }
      </mat-form-field>
      <mat-slide-toggle formControlName="isSystem">{{i18nKeys.systemRole.isSystemDesc | translate}}</mat-slide-toggle>
      <div class="d-flex mt-1 justify-content-end">
        <button class="d-flex flex-column" mat-flat-button color="primary" (click)="edit()">{{i18nKeys.common.save | translate}}</button>
      </div>
    </div>
  </form>
}