@use './theme.scss' as theme;
@use '@angular/material' as mat;
@import './assets/bootstrap-grid.min.css';

@include mat.elevation-classes();
@include mat.app-background();

html,
body {
  height: 100%;
  margin: 0;
  font-family: Ginto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

html {
  @include mat.all-component-themes(theme.$dark-theme);


  @media (prefers-color-scheme: light) {
    @include mat.all-component-colors(theme.$light-theme);
  }
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 16px;
}

.w-100 {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.v-middle {
  vertical-align: middle;
}

.paginator {
  margin: 2px auto;
  background-color: var(--mat-paginator-container-background-color);
}

mat-nav-list .mat-icon {
  margin-right: 4px;
  vertical-align: middle;
}

mat-panel-title .mat-icon {
  margin-right: 4px;
  vertical-align: middle;
}