@use 'sass:map';
@use '@angular/material' as mat;



$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$violet-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: (use-system-variables: false),
    ));

$light-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$violet-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: (use-system-variables: false),
    ));

$dark-primary-color: mat.get-theme-color($dark-theme, primary, 60);
$light-primary-color: mat.get-theme-color($light-theme, primary, 40);

$dark-secondary-color: mat.get-theme-color($dark-theme, secondary, 60);
$light-secondary-color: mat.get-theme-color($light-theme, secondary, 60);

$dark-accent-color: mat.get-theme-color($dark-theme, tertiary, 60);
$light-accent-color: mat.get-theme-color($light-theme, tertiary, 40);

$dark-error-color: mat.get-theme-color($dark-theme, error);
$light-error-color: mat.get-theme-color($light-theme, error);

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);

$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$light-color: #f5f5f5;
$dark-color: #212121;

:root .primary {
  @include mat.icon-overrides((color: $dark-primary-color,
    ));

  @media (prefers-color-scheme: light) {
    @include mat.icon-overrides((color: $light-primary-color,
      ));
  }
}

:root .accent {
  @include mat.icon-overrides((color: $dark-accent-color,
    ));

  @media (prefers-color-scheme: light) {
    @include mat.icon-overrides((color: $light-accent-color,
      ));
  }
}

:root .error {
  @include mat.icon-overrides((color: $dark-error-color,
    ));

  @media (prefers-color-scheme: light) {
    @include mat.icon-overrides((color: $light-error-color,
      ));
  }
}
:root .secondary {
  @include mat.icon-overrides((color: $dark-secondary-color,
    ));

  @media (prefers-color-scheme: light) {
    @include mat.icon-overrides((color: $light-secondary-color,
      ));
  }
}
