<mat-toolbar class="d-flex gap-1">
  <!-- <mat-icon class="clickable" matTooltip="返回" (click)="back()">arrow_back</mat-icon> -->
  <span>{{i18nKeys.common.add | translate}}</span>
</mat-toolbar>
@if (!isLoading()) {
  <form class="d-flex p-2" [formGroup]="formGroup">
    <div class="d-flex flex-column w-100">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>{{i18nKeys.login.username | translate}}</mat-label>
        <input matInput formControlName="userName" placeholder="" />
        @if (userName.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="userName.setValue(null)">
            <mat-icon>close</mat-icon>
          </button>
        }
        @if (formGroup.get('userName')?.invalid) {
          <mat-error>
            {{getValidatorMessage('userName')}}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>{{i18nKeys.login.password | translate}}</mat-label>
        <input matInput formControlName="password" placeholder="" />
        @if (password.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="password.setValue(null)">
            <mat-icon>close</mat-icon>
          </button>
        }
        @if (formGroup.get('password')?.invalid) {
          <mat-error>
            {{getValidatorMessage('password')}}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <!-- 多选下拉 -->
        <mat-label>{{i18nKeys.systemUser.role | translate}}</mat-label>
        <mat-select [formControl]="roleIds" multiple>
          @for (role of roles; track role) {
            <mat-option [value]="role.id">{{role.name}}</mat-option>
          }
        </mat-select>
        @if (formGroup.get('roleIds')?.invalid) {
          <mat-error>
            {{getValidatorMessage('roleIds')}}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>{{i18nKeys.systemUser.realName | translate}}</mat-label>
        <input matInput formControlName="realName" placeholder="" />
        @if (realName.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="realName.setValue(null)">
            <mat-icon>close</mat-icon>
          </button>
        }
        @if (formGroup.get('realName')?.invalid) {
          <mat-error>
            {{getValidatorMessage('realName')}}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>{{i18nKeys.systemUser.email | translate}}</mat-label>
        <input matInput formControlName="email" placeholder="" />
        @if (email.value) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="email.setValue(null)">
            <mat-icon>close</mat-icon>
          </button>
        }
        @if (formGroup.get('email')?.invalid) {
          <mat-error>
            {{getValidatorMessage('email')}}
          </mat-error>
        }
      </mat-form-field>
      <div class="d-flex mt-1 justify-content-end">
        <button class="d-flex flex-column" mat-flat-button color="primary" (click)="add()">{{i18nKeys.common.add | translate}}</button>
      </div>
    </div>
  </form>
}