<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #sidenav mode="side" opened="true" [disableClose]="true">
    <div class="d-flex justify-content-end" style="overflow: hidden;">
      @if(opened){
      <button mat-icon-button (click)="toggle()">
        <mat-icon>keyboard_double_arrow_left</mat-icon>
      </button>
      }@else {
      <button mat-icon-button (click)="toggle()">
        <mat-icon>keyboard_double_arrow_right</mat-icon>
      </button>
      }
    </div>

    @if(menus().length>0){
    <mat-accordion multi>
      @for (menu of menus(); track $index) {
      @if(menu.menuType==0){
      <mat-expansion-panel hideToggle [expanded]="expanded">
        <mat-expansion-panel-header>
          <mat-panel-title [style.justify-content]="opened ? 'start' : 'center'">
            <a class="nav-title">
              <mat-icon>{{menu.icon}}</mat-icon>
              @if(opened){
              <span>{{menu.name | translate}}</span>
              }

            </a>
          </mat-panel-title>
        </mat-expansion-panel-header>
        @for (item of menu.children; track $index) {
        @if(item.menuType==0){
        <mat-nav-list>
          <a mat-list-item [routerLink]="item.path" routerLinkActive="active"
            [matTooltip]="opened? '': (item.name | translate)" matTooltipPosition="right">
            <mat-icon fontSet="">{{item.icon}}</mat-icon>
            @if(opened){
            <span>{{item.name | translate}}</span>
            }
          </a>
        </mat-nav-list>
        }
        }
      </mat-expansion-panel>
      }
      }
    </mat-accordion>
    }
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>