@use 'vars' as vars;
@use 'theme' as theme;
@use 'sass:color' as color;

.tag {
  display: inline-block;
  padding: 2px 8px;
  color: #f1f1f1;
  border-radius: 12px;
  margin-right: 2px 4px;
  cursor: pointer;
  transition: all 0.3s;
}

@media (prefers-color-scheme: dark) {
  .primary {
  background-color: color.adjust(vars.$dark-primary-color, $lightness: -5%);

    &:hover {
      background-color: color.adjust(vars.$dark-primary-color, $lightness: -10%);
    }

    &.active {
      background-color: color.adjust(vars.$dark-primary-color, $lightness: 0%);
    }
  }

  .accent {
  background-color: color.adjust(theme.$dark-accent-color, $lightness: -5%);

    &:hover {
      background-color: color.adjust(theme.$dark-accent-color, $lightness: -10%);
    }

    &.active {
      background-color: color.adjust(theme.$dark-accent-color, $lightness: 0%);
    }
  }

  .warn {
  background-color: color.adjust(theme.$dark-error-color, $lightness: -5%);

    &:hover {
      background-color: color.adjust(theme.$dark-error-color, $lightness: -10%);
    }

    &.active {
      background-color: color.adjust(theme.$dark-error-color, $lightness: 0%);
    }
  }
}

@media (prefers-color-scheme: light) {
  .primary {
  background-color: color.adjust(vars.$light-primary-color, $lightness: -5%);

    &:hover {
      background-color: color.adjust(vars.$light-primary-color, $lightness: -10%);
    }

    &.active {
      background-color: color.adjust(vars.$light-primary-color, $lightness: 0%);
    }
  }

  .accent {
  background-color: color.adjust(theme.$light-accent-color, $lightness: -5%);

    &:hover {
      background-color: color.adjust(theme.$light-accent-color, $lightness: -10%);
    }

    &.active {
      background-color: color.adjust(theme.$light-accent-color, $lightness: 0%);
    }
  }

  .warn {
  background-color: color.adjust(theme.$light-error-color, $lightness: -5%);

    &:hover {
      background-color: color.adjust(theme.$light-error-color, $lightness: -10%);
    }

    &.active {
      background-color: color.adjust(theme.$light-error-color, $lightness: 0%);
    }
  }
}